<section id="about-me" class="about-me">
  <div class="container">
    <h2 class="visually-hidden">About Me</h2>
    <h3 class="about-me-visible-header">
      I work with people all over the world to create impressive and
      <span class="about-me-span-red">functional</span>
      <span class="about-me-span-grey">websites</span> that reflect each
      client's unique personality.
    </h3>
    <picture>
      <source
        srcset="
          ./img/aboutme-desktop-2x-min.png 2x,
          ./img/aboutme-desktop-min.png    1x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="./img/aboutme-tab@2x-min.png 2x, ./img/aboutme-tab-min.png 1x"
        media="(min-width: 768px)"
      />
      <source
        srcset="./img/aboutme-mob@2x-min.png 2x, ./img/aboutme-mob-min.png 1x"
        media="(min-width: 375px)"
      />
      <img
        class="aboutme-img"
        src="./img/aboutme-mob-min.png"
        alt="photo of FullStack developer"
        width="343"
        height="500"
      />
    </picture>
    <ul class="about-me-description-list">
      <li class="about-me-description-li">
        <p class="about-me-description-header">about me</p>
        <p class="about-me-description-text">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages ​​and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way. <br />
          <br />
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work.I am always looking for opportunities for self-improvement. I
          actively study new technologies and practices to stay abreast of the
          latest innovations. I have a strong understanding of various
          programming languages, frameworks and architectural concepts that
          allow me to create efficient and scalable software.
        </p>
      </li>
      <li class="about-me-description-li">
        <p class="about-me-description-header">role</p>
        <p class="about-me-description-text">
          Frontend development <br />HeadlessCMS,Wordpress <br />
          Blender(enjoy)
        </p>
      </li>
      <li class="about-me-description-li">
        <p class="about-me-description-header">education</p>
        <p class="about-me-description-text"></p>
      </li>
    </ul>
    <ul class="about-me-skills-list">
      <li class="about-me-skills-li">
        <div class="skill-wraper"><p>HTML/CSS</p></div>
      </li>
      <li class="about-me-skills-li">
        <div class="skill-wraper"><p>JavaScript</p></div>
      </li>
      <li class="about-me-skills-li">
        <div class="skill-wraper"><p>React</p></div>
      </li>
      <li class="about-me-skills-li">
        <div class="skill-wraper"><p>Node.js</p></div>
      </li>
      <li class="about-me-skills-li">
        <div class="skill-wraper"><p>React Native</p></div>
      </li>
      <li class="about-me-skills-li">
        <div class="skill-wraper"><p>Soft Skills</p></div>
      </li>
    </ul>
  </div>
</section>
