<section id="about-me" class="about-me">
  <div class="container">
    <h2 class="visually-hidden">How it works</h2>
    <picture>
      <source
        srcset="
          ./img/how_it_works/hiw-desctop-2x-min.jpg 2x,
          ./img/how_it_works/hiw-desctop-min.jpg    1x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./img/how_it_works/hiw-tablet-2x-min.jpg 2x,
          ./img/how_it_works/hiw-tablet-min.jpg    1x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./img/how_it_works/hiw-mob-2x-min.jpg 2x,
          ./img/how_it_works/hiw-mob-min.jpg    1x
        "
        media="(min-width: 375px)"
      />
      <img
        class="hiw-img"
        src="./img/how_it_works/hiw-tablet-min.jpg"
        alt="woman is cooking"
        width="640"
        height="640"
      />
    </picture>
  </div>
</section>
