<section class="faq" id="faq">
  <div class="faq-container container">
    <h2 class="faq-title">FAQ</h2>
    <div class="faq-container-wrap">
      <ul class="faq-list">
        <li class="faq-item">
          <div class="faq-acordeon-wrap">
            <h3 class="faq-subtitle">
              What programming languages ​​are most often used in your project?
            </h3>
            <button
              type="button"
              class="faq-button"
              aria-label="open more button"
            >
              <svg class="faq-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <p class="faq-text faq-hidden">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </li>
        <li class="faq-item">
          <div class="faq-acordeon-wrap">
            <h3 class="faq-subtitle">
              What are the deadlines for the project?
            </h3>
            <button
              type="button"
              class="faq-button"
              aria-label="open more button"
            >
              <svg class="faq-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <p class="faq-text faq-hidden">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </li>
        <li class="faq-item">
          <div class="faq-acordeon-wrap">
            <h3 class="faq-subtitle">What payment methods do you accept?</h3>
            <button
              type="button"
              class="faq-button"
              aria-label="open more button"
            >
              <svg class="faq-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <p class="faq-text faq-hidden">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </li>
      </ul>
      <ul class="faq-list left-column">
        <li class="faq-item left-column-padding">
          <div class="faq-acordeon-wrap">
            <h3 class="faq-subtitle">How can I contact you?</h3>
            <button
              type="button"
              class="faq-button"
              aria-label="open more button"
            >
              <svg class="faq-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <p class="faq-text faq-hidden">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </li>
        <li class="faq-item left-column-padding">
          <div class="faq-acordeon-wrap">
            <h3 class="faq-subtitle">Do you provide advice or support?</h3>
            <button
              type="button"
              class="faq-button"
              aria-label="open more button"
            >
              <svg class="faq-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <p class="faq-text faq-hidden">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </li>
        <li class="faq-item left-column-padding">
          <div class="faq-acordeon-wrap">
            <h3 class="faq-subtitle">
              What does the process of developing a software <br />
              product look like from idea to implementation?
            </h3>
            <button
              type="button"
              class="faq-button"
              aria-label="open more button"
            >
              <svg class="faq-icon" width="18" height="18">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </button>
          </div>
          <p class="faq-text faq-hidden">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
