<div class="container header-container">
  <header class="header">
    <div class="logo">
      <a href="./index.html">
        <img
          src="/img/logo.png"
          width="80"
          height="80"
          class="logoimage"
          alt="Jefferson logo"
        />
      </a>
      <a class="logo-text" href="../index.html" aria-label="Jefferson homepage"
        >jefferson*</a
      >
    </div>
    <div class="nav-wraper">
      <div></div>
      <nav class="nav">
        <button class="menu-tablet" type="button" aria-label="Open menu">
          Menu
        </button>
        <ul class="nav-list">
          <li class="nav-items">
            <a
              class="nav-link js-nav-link"
              href="#about-me"
              aria-label="Navigate to About Me section"
              >About Me</a
            >
          </li>
          <li class="nav-items">
            <a
              class="nav-link js-nav-link"
              href="#benefits"
              aria-label="Navigate to Benefits section"
              >Benefits</a
            >
          </li>
          <li class="nav-items">
            <a
              class="nav-link js-nav-link"
              href="#projects"
              aria-label="Navigate to Projects section"
              >Projects</a
            >
          </li>
          <li class="nav-items">
            <a
              class="nav-link js-nav-link"
              href="#faq"
              aria-label="Navigate to FAQ section"
              >FAQ</a
            >
          </li>
        </ul>
      </nav>
      <a
        href="#footer"
        class="order-project-btn js-nav-link"
        aria-label="Order the project button"
        >Order the project</a
      >
    </div>
    <div
      class="hamburger"
      aria-label="Menu toggle button"
      role="button"
      tabindex="0"
    >
      <span class="line"></span>
      <span class="line"></span>
    </div>
  </header>
</div>
