<section class="hero-section">
    <div class="container hero-container">
        <h1 class="hero-title">Hello.<br />I'm Fullstack developer Lloyd Jefferson.</h1> 
        <ul class="soc-networks-list">
            <li class="hero-list-item">
                <a class="hero-link" href="https://www.instagram.com/goitclub/"
            target="_blank">IG</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-link" href="https://www.facebook.com/goITclub/"
            target="_blank">FB</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-link" href="https://www.youtube.com/c/GoIT"
            target="_blank">YT</a>
            </li>
            <li class="hero-list-item">
                <a class="hero-link" href="https://github.com/Dexter-24/Project_CodeCrafters02"
            target="_blank">GH</a>
            </li>
            <li class="hero-list-item hero-list-item-email">
                <a class="hero-link" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a>
            </li>
        </ul>
    </div>
</section>

