
<section id="projects" class="projects">
    <div class="projects-conteiner container">
        <h2 class="projects-title">Projects</h2>
            <div class="projects-swiper-container swiper ">

                <ul class="projects-swiper-list projects-swiper-wrapper swiper-wrapper">
                    <li class="projects-swiper-slide swiper-slide">
                        <div class="wrap-projects">
                            <div class="wrap-content">
                                <ul class="list-projects">
                                    <li class="list-item-projects">#react</li>
                                    <li class="list-item-projects">#js</li>
                                    <li class="list-item-projects">#node js</li>
                                    <li class="list-item-projects">#git</li>
                                </ul>
                                <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                                    <a class="projects-btn" href="https://dexter-24.github.io/Project_CodeCrafters02/" target="_blank">See
                                        project</a>
                            </div>
                            <div class="wrap-image">
                                <picture>
                                    <source
                                        srcset="./img/projects/project1-desktop-tab@2x.png 2x, ./img/projects/project1-desktop-tab.png  1x"
                                        media="(min-width: 1440px)" />
                                    <source srcset="./img/projects/project1-desktop-tab@2x.png 2x, ./img/projects/project1-desktop-tab.png 1x"
                                        media="(min-width: 768px)" />
                                    <source srcset="./img/projects/project1-mob@2x-min.png 2x, ./img/projects/project1-mob-min.png 1x"
                                        media="(min-width: 375px)" />
                                    <img class="projects-img" src="./img/projects/project1-mob-min.png"
                                        alt="mobile application reading books" 
                                        width="311" 
                                        height="195" 
                                        loading="lazy" />
                                </picture>
                            </div>
                        </div>
                    </li>
                    <li class="projects-swiper-slide swiper-slide">
                        <div class="wrap-projects">
                            <div class="wrap-content">
                                <ul class="list-projects">
                                    <li class="list-item-projects">#react</li>
                                    <li class="list-item-projects">#js</li>
                                    <li class="list-item-projects">#node js</li>
                                    <li class="list-item-projects">#git</li>
                                </ul>
                                <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                                    <a class="projects-btn" href="https://dexter-24.github.io/Project_CodeCrafters02/" target="_blank">See
                                        project</a>
                            </div>
                            <div class="wrap-image">
                                <picture>
                                    <source srcset="./img/projects/project2-desktop-tab@2x.png 2x, ./img/projects/project2-desktop-tab.png 1x"
                                        media="(min-width: 1440px)" />
                                    <source srcset="./img/projects/project2-desktop-tab@2x.png 2x, ./img/projects/project2-desktop-tab.png 1x"
                                        media="(min-width: 768px)" />
                                    <source srcset="./img/projects/project2-mob@2x-min.png 2x, ./img/projects/project2-mob-min.png 1x"
                                        media="(min-width: 375px)" />
                                    <img class="projects-img" src="./img/projects/project2-mob-min.png" 
                                        alt="pet dog love" 
                                        width="311" 
                                        height="195" 
                                        loading="lazy" />
                                </picture>
                            </div>
                        </div>
                    </li>
                    <li class="projects-swiper-slide swiper-slide">
                        <div class="wrap-projects">
                            <div class="wrap-content">
                                <ul class="list-projects">
                                    <li class="list-item-projects">#react</li>
                                    <li class="list-item-projects">#js</li>
                                    <li class="list-item-projects">#node js</li>
                                    <li class="list-item-projects">#git</li>
                                </ul>
                                <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                                    <a class="projects-btn" href="https://dexter-24.github.io/Project_CodeCrafters02/" target="_blank">See
                                        project</a>
                            </div>
                            <div class="wrap-image">
                                <picture>
                                    <source srcset="./img/projects/project3-desktop-tab@2x.png 2x, ./img/projects/project3-desktop-tab.png 1x"
                                        media="(min-width: 1440px)" />
                                    <source srcset="./img/projects/project3-desktop-tab@2x.png 2x, ./img/projects/project3-desktop-tab.png 1x"
                                        media="(min-width: 768px)" />
                                    <source srcset="./img/projects/project3-mob@2x-min.png 2x, ./img/projects/project3-mob-min.png 1x"
                                        media="(min-width: 375px)" />
                                    <img class="projects-img" src="./img/projects/project3-mob-min.png" 
                                        alt="registration form" 
                                        width="311" 
                                        height="195" 
                                        loading="lazy"/>
                                </picture>
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
            <div class="arrow">
                <div class="arrow-right projects-button-slider-prev  swiper-button-prev">
                    <svg class="projects-arrow-svg">
                        <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
                    </svg>
                </div>
                <div class="arrow-right projects-button-slider-next  swiper-button-next">
                    <svg class="projects-arrow-svg">
                        <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
                    </svg>
                </div>

            </div>
    </div>
</section> 
