<section id="projects" class="projects">
    <div class="projects-conteiner container">
        <h3 class="title">Projects</h3>

        <div class="projects-swiper-slide1">
            <div class="wrap-projects">
                <div class="wrap-content">
                    <ul class="list-projects">
                        <li class="list-item-projects">#react</li>
                        <li class="list-item-projects">#js</li>
                        <li class="list-item-projects">#node js</li>
                        <li class="list-item-projects">#git</li>
                    </ul>
                    <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <a href="https://github.com/Dexter-24/Project_CodeCrafters02" target="_blank">
                        <button class="projects-btn" type="button">See project</button>
                    </a>
                </div>
                <div class="wrap-image">
                <picture>
                    <source srcset="./img/project1-desktop-tab@2x.png 2x, ./img/project1-desktop-tab.png  1x"
                        media="(min-width: 1440px)" />
                    <source srcset="./img/project1-desktop-tab@2x.png 2x, ./img/project1-desktop-tab.png 1x" media="(min-width: 768px)" />
                    <source srcset="./img/project1-mob@2x-min.png 2x, ./img/project1-mob-min.png 1x" media="(min-width: 375px)" />
                    <img class="projects-img" src="./img/project1-mob-min.png" alt="mobile application reading books" width="311"
                        height="195" />
                </picture>
                </div>
            </div>
        </div>


        <!-- <div class="projects-swiper-slide2">
            <div class="wrap-projects">
                <div class="wrap-content">
                    <ul class="list-projects">
                        <li class="list-item-projects">#react</li>
                        <li class="list-item-projects">#js</li>
                        <li class="list-item-projects">#node js</li>
                        <li class="list-item-projects">#git</li>
                    </ul>
                    <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <a href="https://github.com/Dexter-24/Project_CodeCrafters02" target="_blank">
                        <button class="projects-btn" type="button">See project</button>
                    </a>
                </div>
                <div class="wrap-image">
                    <picture>
                        <source srcset="./img/project2-desktop-tab@2x.png 2x, ./img/project2-desktop-tab.png 1x"
                            media="(min-width: 1440px)" />
                        <source srcset="./img/project2-desktop-tab@2x.png 2x, ./img/project2-desktop-tab.png 1x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/project2-mob@2x-min.png 2x, ./img/project2-mob-min.png 1x"
                            media="(min-width: 375px)" />
                        <img class="projects-img" src="./img/project2-mob-min.png" alt="petlove" width="311"
                            height="195" />
                    </picture>
                </div>
            </div>
        </div>

        <div class="projects-swiper-slide3">
            <div class="wrap-projects">
                <div class="wrap-content">
                    <ul class="list-projects">
                        <li class="list-item-projects">#react</li>
                        <li class="list-item-projects">#js</li>
                        <li class="list-item-projects">#node js</li>
                        <li class="list-item-projects">#git</li>
                    </ul>
                    <p class="projects-text">Programming Across Borders: Ideas, Technologies, Innovations</p>
                    <a href="https://github.com/Dexter-24/Project_CodeCrafters02" target="_blank">
                        <button class="projects-btn" type="button">See project</button>
                    </a>
                </div>
                <div class="wrap-image">
                    <picture>
                        <source srcset="./img/project3-desktop-tab@2x.png 2x, ./img/project3-desktop-tab.png 1x"
                            media="(min-width: 1440px)" />
                        <source srcset="./img/project3-desktop-tab@2x.png 2x, ./img/project3-desktop-tab.png 1x"
                            media="(min-width: 768px)" />
                        <source srcset="./img/project3-mob@2x-min.png 2x, ./img/project3-mob-min.png 1x"
                            media="(min-width: 375px)" />
                        <img class="projects-img" src="./img/project3-mob-min.png" alt="registration form" width="311" height="195" />
                    </picture>
                </div>
            </div>
        </div> -->


        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div class="arrow">
        
            <div class="arrow-right">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M20.5 12H4.50001" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M10.5 18L4.5 12L10.5 6" stroke="#3B3B3B" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
            <div class="arrow-right">
                <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.5 12H20.5" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                    <path d="M14.5 6L20.5 12L14.5 18" stroke="#FAFAFA" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" />
                </svg>
            </div>
        </div>

    </div>
</section>