<section class="reviews-section container" id="reviews">
  <div class="reviews-swiper-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper-wrapper swiper-wrapper"></div>

    <div class="arrow">
      <div
        class="reviews-swiper-button-prev swiper-button-prev"
        aria-label="Swipe to previous reviews slide"
      >
        <svg class="projects-arrow-svg">
          <use href="./img/icons.svg#icon-arrow-narrow-left"></use>
        </svg>
      </div>
      <div
        class="reviews-swiper-button-next swiper-button-next"
        aria-label="Swipe to next reviews slide"
      >
        <svg class="projects-arrow-svg">
          <use href="./img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
