<section class="reviews-section container" id="reviews">
  <div class="reviews-swiper-container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="reviews-swiper-wrapper swiper-wrapper"></div>
    <div class="reviews-swiper-button-prev swiper-button-prev">
      <!-- <svg class="icon-arrow-narrow" width="32" height="32">
        <use href="/img/icons.svg#icon-arrow-narrow-left"></use>
      </svg> -->

      <svg
        width="32"
        height="32"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M20.5 12H4.50001"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M10.5 18L4.5 12L10.5 6"
          stroke="#FAFAFA"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </div>
    <div class="reviews-swiper-button-next swiper-button-next">
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-arrow-narrow-right"></use>
      </svg>
    </div>
  </div>
</section>
