.covers {
    margin-bottom: 64px;
    margin-top: 64px;
    padding: 0;
}


.content-list {
    display: flex;
    transition: opacity 0.5s ease-in-out;
    animation-name: Srolling;
    animation-duration: 12s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes Srolling {
    from {
        transform: translateX(80%);

    }

    to {
        transform: translateX(-80%);
    }
}

.covers-container {
    height: 508px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;
}

@media (min-width: 768px) {
    .covers-container {
        height: 960px;
        margin-top: 164px;
        margin-bottom: 164px;
    }
}

.content {
    position: absolute;
    transform: rotate(16deg);
    z-index: 1;
    margin-bottom: 100px;
    backdrop-filter: blur(30px);
    background: rgba(217, 217, 217, 0.04);
    /* background-image: url("../img/covers-background.png"); */
}

@media (min-width: 768px) {
    .content {
        margin-bottom: 0px;
    }
}

.js-list-one {
    margin-bottom: 50px;
    position: relative;
    left: 75%;
}

.js-list-two {
    margin-bottom: 25px;
    gap: 30px;
    position: relative;
    left: 15%;
}

@media (min-width: 768px) {
    .js-list-two {
        gap: 60px;
        margin-bottom: 50px;
    }
}


.js-list-three {
    margin-bottom: 25px;
    gap: 25px;
    position: relative;
    left: 2%;
}

@media (min-width: 768px) {
    .js-list-three {
        gap: 45px;
        margin-bottom: 40px;
    }
}

.js-list-four {
    margin-bottom: 25px;
    gap: 30px;
    position: relative;
    left: 15%;
}

@media (min-width: 768px) {
    .js-list-four {
        gap: 65px;
        margin-bottom: 60px;
    }
}

.js-list-five {
    position: relative;
    left: 23%;
}

.content-list-item {
}

.content-list-image {
    width: 282px;
    height: 162px;
    max-width: none;
    /* object-fit: contain;
    padding: 0; */
    
}

@media (min-width: 768px) {
    .content-list-image {
        width: 544px;
        height: 314px;
        max-width: none;
    }
}

.svg-background {
    position: absolute;
    width: 1440px;
    height: 960px;
}