.hero-section {
    padding-bottom: 32px;
}

.hero-container {
    background-image: url(../img/heromob@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-container {
        background-image: url(../img/heromob@2x.png);
    }
}

.hero-title {
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    padding-top: 169px;
    margin-bottom: 212px;
}

.soc-networks-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4px;
    padding-bottom: 32px;
}

.hero-list-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    font-family: "Inter Tight", sans-serif;
    transition: border-color 250ms linear, box-shadow 250ms linear;
}

.hero-list-item:hover,
.hero-list-item:focus {
    border-color: #fafafa;
    box-shadow: 0 0 15px #ed3b44;
}

@media screen and (min-width: 320px) and (max-width: 375px) {
    .hero-list-item {
            border-radius: 50px;
            font-weight: 300;
            font-size: 11px;
            letter-spacing: -0.01em;
            line-height: 12px;
    }
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 90px;
        margin-bottom: 187px;
        padding-top: 188px;
    }

    .soc-networks-list {
        gap: 8px;
    }

    .hero-list-item {
        padding: 18px 20px;
        font-size: 16px;
    }

    .hero-container {
        background-image: url(../img/herotab@1x.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-container {
        background-image: url(../img/herotab@2x.png);
    }
    }
}

@media screen and (min-width: 1440px) {
    .hero-title {
        padding-left: 178px;
        margin-bottom: 243px;
    }

    .hero-container {
        background-image: url(../img/herodesc@1x.png);
    }

    @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        .hero-container {
            background-image: url(../img/herodesc@2x.png);
        }
    }
}