#hero {
    padding-bottom: 0;
}

.hero-section {
    height: 812px;
    text-align: center;
    background-image: linear-gradient(90deg, #1c1d20 49.68%, #69292d 67.73%, #ed3b44 100%), url(../img/heromob@1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero-section {
        background-image: url(../img/heromob@2x.png);
    }
}

#hero .hero-container {
    padding-top: 281px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-weight: 500;
    font-size: 50px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #fafafa;
    text-align: left;
    padding: 0 16px 0 16px;
}

.soc-networks-list {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 4px;
    padding: 0 16px 0 16px;
}

.hero-list-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    width: 37px;
    height: 37px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
    transition: border-color 250ms linear, box-shadow 250ms linear;
}

.hero-list-item-email {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 10px 12px;
    width: 178px;
    height: 37px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.02em;
}

.hero-list-item:hover,
.hero-list-item:focus {
    border-color: #fafafa;
    box-shadow: 0 0 15px #ed3b44;
}

